<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS asset exchange</title>
</head>
<body>
    <h1>Welcome to IPFS asset sharing,share EHR with a doctor of your choice!</h1>
    <br>
    <h2>Upload patient asset file to IPFS</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Enter filename</label> 
        <br>
        <input type="text" name="fileName">
        <br>
        <br>
        <label>Upload file</label>
        <br>
        <br>
        <input type="file" name="file">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>